<div class="user-details" *ngIf="user">
  <mat-toolbar color="accent">
    <span matBadge="{{ user.followers }}" matBadgeOverlap="false">{{user.name}}</span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="user-fill-remaining-space"></span>
    <a mat-icon-button href={{user.html_url}} target="_blank">
      <mat-icon aria-label="Follow User">open_in_new</mat-icon>
    </a>
  </mat-toolbar>

  <div class="sidebar">
      <mat-card class="user-card">
          <mat-card-header>
            <div mat-card-avatar class="user-header-image" [style.backgroundImage]="'url('+ user.avatar_url +')'"></div>
            <mat-card-title>{{user.name}}</mat-card-title>
            <mat-card-subtitle>{{user.login}}, {{user.company}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content *ngIf="user.bio">
            <p>
              {{user.bio}}
            </p>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
        </mat-card>
  </div>
  <div class="main-content">
    <h4>User Followers</h4>

    <div class="spinner-container" *ngIf="followersDataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
    <table mat-table [dataSource]="followersDataSource">
      <!-- User name Definition -->
      <ng-container cdkColumnDef="avatar_url">
        <mat-header-cell *cdkHeaderCellDef> Avatar </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> 
          <img matListAvatar src="{{row.avatar_url}}" alt="{{row.login}}}" width="38">
        </mat-cell>
      </ng-container>
    
      <!-- Title Definition -->
      <ng-container cdkColumnDef="login">
        <mat-header-cell *cdkHeaderCellDef> User Name </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.login}} </mat-cell>
      </ng-container>

      <!-- Title Definition -->
      <ng-container cdkColumnDef="actions">
          <mat-header-cell *cdkHeaderCellDef> Load Followers </mat-header-cell>
          <mat-cell *cdkCellDef="let row"> 
            <button mat-icon-button (click)="loadUser(row.login)">
              <mat-icon aria-label="Follow User">details</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
    
      <!-- Header and Row Declarations -->
      <mat-header-row *cdkHeaderRowDef="['avatar_url', 'login', 'actions']"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: ['avatar_url', 'login', 'actions']"></mat-row>
    </table>
    <mat-paginator  #followersPager
                    [length]="user.followers"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

  </div>
</div>